*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}
header{
    height: 10vh;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: lavender;
    margin-bottom: 1rem;
}

main h2{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

div.container{
    width: 50%;
    margin: auto;
    border: 1px solid darkslategray;
    border-radius: 2px;
    padding: 10px;
}
div.container ul li{
    list-style-type: none;
    border-bottom: 1px solid lightgray;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

div.container ul li span{
    cursor: pointer;
}

.delete-task{
    height: fit-content;
    width: fit-content;
    line-height: 1rem;
    background: red;
    color: white;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
}

.done{
    text-decoration: line-through;
}

form{
    text-align: center;
    margin-top: 10px;
    width: 50%;
    margin: 20px auto 0;
}

form > input{
    padding: 5px;
    width: 80%;
}
form > input::placeholder{
    font-family: 'Raleway';
}

form > button{
    width: calc(20% - 5px);
    padding: 5px;
    margin-left: 5px;
    font-family: 'Raleway';
}